node_modules
coverage
dist
.DS_Store
.cache

# these cause more harm than good
# when working with contributors
package-lock.json
yarn.lock

# built files
gatsby-node.d.ts
gatsby-node.js
gatsby-node.js.map